
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}

.calculator{
   
   border: 1px solid #717377;
   padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
 
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(249, 248, 248, 1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;

}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #6E6042;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(249, 248, 248, 1);
    cursor: pointer;
}

.equalBtn{
    color: #6E6042;
}

.operator{
    color: #B38CB4
}

